<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="local.garden.user.interfaces.database.UserMapper">
    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO USER (id, firstName, lastName, birthday, height, weight) VALUES (uuid(), #{firstName}, #{lastName}, #{birthday}, #{height}, #{weight});
    </insert>
    <select id="findById" resultType="local.garden.user.domain.model.User">
        SELECT * FROM USER WHERE id=#{id}; 
    </select>
</mapper>